# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: FortifyDemo
  name: Default

steps:


- script: |

- task: FortifySCA@7
  inputs:
    applicationType: 'dotnet'
    fortifyProjects: '**\*.sln'
    fortifyBuildId: 'webgoat221'
    fortifyScanType: 'ScanCentralScan'
    scanCentralFortifyServerName: 'FortifyDemo'
    scanCentralRunFortifyUpload: true
    scanCentralFortifyApplicationName: 'webgoatdotnet'
    scanCentralFortifyApplicationVersion: 'v221'
